/* Responsive Design */

@media (max-width: 480px) {
    .header-14-sub {min-height: 300px;}


    #title-section {
        /* padding-left: 50px; */
        padding-bottom: 50px;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }

    #social-icons {
        padding-left: 25px;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }


    #footer-menu {
        /* padding-bottom: 50px; */
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }

    #navbarText{
        height: 100vh !important;

        background-color: #ffffff;
      }

    }
    @media (min-width: 481px) and (max-width: 767px) {
    .header-14-sub {min-height: 500px;}

    #navbarText{
        height: 100vh !important;

        background-color: #ffffff;
      }

    #title-section {
        /* padding-left: 50px; */
        padding-bottom: 50px;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }

    #social-icons {
        padding-left: 25px;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }


    #footer-menu {
        /* padding-bottom: 50px; */
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }

    }
    
    @media (min-width: 1200px) {
    .header-14-sub {min-height: 1200px;}
    }

    @media (min-width: 768px) and (max-width: 979px) {
      .header-14-sub { min-height: 700px;}



    }

body {
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

.navbar {
    height: 125px;
    padding: 0;  
}

.navbar-nav {
    padding-right: 50px;
    padding-left: 50px;
    line-height: 50px;

}

.w-100 {
    width: 100%!important;
    /* margin-top: 60px; */
    background-color: white;
}

/*---Standar Hamburger Menu (3 separate elements)---*/
.navbar-toggler {
    border: none;
    background: transparent !important;
    margin-right: 50px;
  }
  
  .navbar-toggler:hover {
      background: transparent !important;
  }
  .navbar-toggler .icon-bar {
    height: 2px;
    width: 22px;
    border-radius: 1px;
    display: block;
    background-color: rgb(46, 50, 64);
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
  }
  
  .navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px;
    
  }
  
  /*---Animation menu (create X)---*/
  .navbar-toggler.x .icon-bar:nth-of-type(1) {
      -webkit-transform: translateX(3px) rotate(45deg); /* Safari 3-8 & Chrome 4-35 & Opera 15-22 */
      -ms-transform: translateX(3px) rotate(45deg); /* IE 9 */
    -moz-transform: translateX(3px) rotate(45deg); /* Firefox 3-15 */
    -o-transform: translateX(3px) rotate(45deg); /* Opera 10-14 */
      transform: translateX(3px) rotate(45deg);
  
      -webkit-transform-origin: 10% 10%;
      -ms-transform-origin: 10% 10%;
    -moz-transform-origin: 10% 10%;
    -o-transform-origin: 10% 10%;
      transform-origin: 10% 10%;
  }
  
  .navbar-toggler.x .icon-bar:nth-of-type(2) {
      opacity: 0;
      filter: alpha(opacity=0); /* For IE8 and earlier */
    -moz-opacity:0; /* Older Firefox 1 */
  }
  
  .navbar-toggler.x .icon-bar:nth-of-type(3) {
    -webkit-transform: translateX(3px) rotate(-45deg);
      -ms-transform: translateX(3px) rotate(-45deg);
    -moz-transform: translateX(3px)rotate(-45deg);
    -o-transform: translateX(3px) rotate(-45deg);
      transform: translateX(3px) rotate(-45deg);
  
    -webkit-transform-origin: 10% 90%;
      -ms-transform-origin: 10% 90%;
    -moz-transform-origin: 10% 90%;
    -o-transform-origin: 10% 90%;
      transform-origin: 10% 90%;
  }
  
  .navbar-toggler.x.collapsed .icon-bar:nth-of-type(1) {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
      transform: rotate(0);
  }
  
  .navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
      opacity: 1;
      filter: alpha(opacity=100);
    -moz-opacity:1;
  }
  
  .navbar-toggler.x.collapsed .icon-bar:nth-of-type(3) {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
      transform: rotate(0);
  }
  
  /*---To center elements of the navbar (mobile)---*/
  
  .navbar-brand{
    /* font-size: 1rem; */
    margin-left: 50px;
    color: rgb(46, 50, 64) !important;
   
  }
  
  /*---Custom AnimateCSS mobile menu items---*/
  .nav-item{
    -webkit-animation-duration: 0.8s; /* Chrome 3-42 & Safari 4-8 & Opera 15-29 */
    -moz-animation-duration: 0.8s; /* Firefox 5-15 */
    -o-animation-duration: 0.8s; /* Opera 12-14 */
    animation-duration: 0.8s;
  }
  
  /* @media only screen and (max-width : 991px) {
      #navbarText{
        height: 100vh !important;

        background-color: #ffffff;
      }
  } */
  
  @media only screen and (min-width : 992px) {
      .animated {
          /*CSS transitions*/
          -o-transition-property: none !important;
          -moz-transition-property: none !important;
          -ms-transition-property: none !important;
          -webkit-transition-property: none !important;
          transition-property: none !important;
          /*CSS transforms*/
          -o-transform: none !important;
          -moz-transform: none !important;
          -ms-transform: none !important;
          -webkit-transform: none !important;
          transform: none !important;
          /*CSS animations*/
          -webkit-animation: none !important;
          -moz-animation: none !important;
          -o-animation: none !important;
          -ms-animation: none !important;
          animation: none !important;
      }
  
      #navbarText{
          height: auto;
   
      }
  }
/* .dropdown { position: static; }
.dropdown-menu { width: 100%; text-align: center; }
.dropdown-menu>li { display: inline-block; } */

.mynav a {
    margin-right: 30px;
    
}

.mynav a:hover {
    border-bottom: 3px solid rgb(242, 180, 65);
    color: rgb(242, 180, 65) !important;
}

.active a {
    border-bottom: 3px solid rgb(242, 180, 65);
    color: rgb(242, 180, 65) !important;
}


.navbar.scrolled {
    /* padding-right: 50px;
    padding-left: 50px; */
    height: 75px;  
}
.bg-light {
    transition:750ms ease;
    background-color: transparent !important;
}
.bg-light.scrolled {
    background-color: #ffffff !important;
    }

.hero-section {
    background-color: #ffffff;
    max-width: 100%;
    min-height: 300px;
    transition: all 0.5s ease;
    
}

.sub-header {
    padding-top: 10px;
    letter-spacing: 3px;

}

.container-section {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    
}

.container-section h1 {
    color: rgb(46, 50, 64);
    font-weight: bold;
}

.container-section p {
    color: rgb(242, 180, 65); 
}

.summary {
    min-height: 400px; /* set default height */
    transition: all 0.5s ease; /* optional css transition effect */
    color: rgb(46, 50, 64);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    margin: 0 auto;
    /* display: flex;
    position: relative; */
}


.container-fluid {
    background-color: rgb(46, 50, 64);
    min-height: 600px;
    
    }

 #experience {
        padding-top:100px;
        width: 85%;
        margin: 0 auto;
        color: rgb(242, 180, 65);
        
    }

.experience-1 {
        line-height: 50%;

    }
    
#first {
    margin-bottom: 50px;
}

#second {
    margin-bottom: 50px;
}

#third {
    margin-bottom: 50px;
}


.container-fluid1 {
    background-color: rgb(242, 180, 65);
    min-height: 600px;
    
    }

 #education {
    padding-top:100px;
    width: 85%;
    margin: 0 auto;
    color: rgb(46, 50, 64);
        
    }

.education-1 {
    line-height: 50%;
    }
    
#first {
    margin-bottom: 50px;
}

#second {
    margin-bottom: 50px;
}

#third {
    margin-bottom: 50px;
}

.container-fluid3 {
    width:100%;
    
    }

footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: rgb(46, 50, 64);
    text-align: left;
    display: flex;
    position: relative;
    min-height: 400px; /* set default height */
    transition: all 0.5s ease; /* optional css transition effect */
    margin-bottom: 25px;
  }


  .job-title {
      color: rgb(242, 180, 65);
  }


  #universal-footer {
    padding-top:50px;
    width: 85%;
    margin: 0 auto;

    
}

a {
    padding-top: 100px;
    text-decoration: none;
    color: rgb(46, 50, 64);
}

.email {
    padding-top: 100px;
}



.email:hover {
    color: rgb(242, 180, 65);
    opacity: 0.7;
    text-decoration: none;
    
  }

.fab {
    padding-right: 50px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border-color: rgb(46, 50, 64);
    
  }


  .fab:hover {
    color: rgb(242, 180, 65);
    opacity: 0.7;
  }

.fab fa-linkedin-in {

    color:rgb(46, 50, 64);

}

.fab fa-github {
    color:rgb(46, 50, 64);
}


.fab fa-dribbble {
    color:rgb(46, 50, 64);
}



