/* Responsive Design */
@media (max-width: 480px) {
    .header-14-sub {min-height: 300px;}
    #title-section {
        /* padding-left: 50px; */
        padding-bottom: 50px;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
    #social-icons {
        padding-left: 25px;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
    #footer-menu {
        /* padding-bottom: 50px; */
        width: 85%;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
    }


    #navbarText{
        height: 100vh !important;

        background-color: #ffffff;
      }
      #home-tron-image {
        background-image: url(../images/me-full.jpg);
        background-size: cover;
        margin-bottom: 0px;
        border-radius: 0px;
        background-position: center center;
        height: 500px; 
      }
      .projects-bar {
       display: none;
    }
    }
    @media (min-width: 481px) and (max-width: 767px) {
    .header-14-sub {min-height: 500px;}
    #navbarText{
        height: 100vh !important;

        background-color: #ffffff;
      }
    #title-section {
        /* padding-left: 50px; */
        padding-bottom: 50px;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
    #social-icons {
        padding-left: 25px;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
    #footer-menu {
        /* padding-bottom: 50px; */
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
    #home-tron-image {
        background-image: url(../images/me-full.jpg);
        background-size: cover;
        margin-bottom: 0px;
        border-radius: 0px;
        background-position: center center;
        height: 500px;
      }

      .projectTitle {
        padding-top: 10px;
      }
    }
    @media (min-width: 768px) and (max-width: 979px) {
      .header-14-sub { min-height: 700px;}
    }
    @media only screen and (min-width : 992px) {
      .animated {
          /*CSS transitions*/
          -o-transition-property: none !important;
          -moz-transition-property: none !important;
          -ms-transition-property: none !important;
          -webkit-transition-property: none !important;
          transition-property: none !important;
          /*CSS transforms*/
          -o-transform: none !important;
          -moz-transform: none !important;
          -ms-transform: none !important;
          -webkit-transform: none !important;
          transform: none !important;
          /*CSS animations*/
          -webkit-animation: none !important;
          -moz-animation: none !important;
          -o-animation: none !important;
          -ms-animation: none !important;
          animation: none !important;
      }
  
      #navbarText{
          height: auto;
   
      }
  }
    @media (min-width: 1200px) {
    .header-14-sub {min-height: 1200px;}
    }

    /* End Responsive Design */

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}
.navbar {
    height: 125px;
    padding: 0;  
}
.navbar-brand img {
  margin-right: 10px;
}
.navbar-nav {
    padding-right: 50px;
    padding-left: 50px;
    /* line-height: 50px; */
}
.w-100 {
    width: 100%!important;
    /* margin-top: 60px; */
    /* background-color: white; */
    overflow:hidden;
}
/*---Standar Hamburger Menu (3 separate elements)---*/
.navbar-toggler {
    border: none;
    background: transparent !important;
    margin-right: 50px;
  }
  
  .navbar-toggler:hover {
      background: transparent !important;
  }
  .navbar-toggler .icon-bar {
    height: 2px;
    width: 22px;
    border-radius: 1px;
    display: block;
    background-color: rgb(46, 50, 64);
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
  }
  
  .navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px;
    
  }
  
  /*---Animation menu (create X)---*/
  .navbar-toggler.x .icon-bar:nth-of-type(1) {
      -webkit-transform: translateX(3px) rotate(45deg); /* Safari 3-8 & Chrome 4-35 & Opera 15-22 */
      -ms-transform: translateX(3px) rotate(45deg); /* IE 9 */
    -moz-transform: translateX(3px) rotate(45deg); /* Firefox 3-15 */
    -o-transform: translateX(3px) rotate(45deg); /* Opera 10-14 */
      transform: translateX(3px) rotate(45deg);
  
      -webkit-transform-origin: 10% 10%;
      -ms-transform-origin: 10% 10%;
    -moz-transform-origin: 10% 10%;
    -o-transform-origin: 10% 10%;
      transform-origin: 10% 10%;
  }
  
  .navbar-toggler.x .icon-bar:nth-of-type(2) {
      opacity: 0;
      filter: alpha(opacity=0); /* For IE8 and earlier */
    -moz-opacity:0; /* Older Firefox 1 */
  }
  
  .navbar-toggler.x .icon-bar:nth-of-type(3) {
    -webkit-transform: translateX(3px) rotate(-45deg);
      -ms-transform: translateX(3px) rotate(-45deg);
    -moz-transform: translateX(3px)rotate(-45deg);
    -o-transform: translateX(3px) rotate(-45deg);
      transform: translateX(3px) rotate(-45deg);
  
    -webkit-transform-origin: 10% 90%;
      -ms-transform-origin: 10% 90%;
    -moz-transform-origin: 10% 90%;
    -o-transform-origin: 10% 90%;
      transform-origin: 10% 90%;
  }
  
  .navbar-toggler.x.collapsed .icon-bar:nth-of-type(1) {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
      transform: rotate(0);
  }
  
  .navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
      opacity: 1;
      filter: alpha(opacity=100);
    -moz-opacity:1;
  }
  
  .navbar-toggler.x.collapsed .icon-bar:nth-of-type(3) {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
      transform: rotate(0);
  }
  
  /*---To center elements of the navbar (mobile)---*/
  .navbar-brand{
    /* font-size: 1rem; */
    margin-left: 50px;
    color: rgb(46, 50, 64) !important;
  }
  /*---Custom AnimateCSS mobile menu items---*/
  .nav-item{
    -webkit-animation-duration: 0.8s; /* Chrome 3-42 & Safari 4-8 & Opera 15-29 */
    -moz-animation-duration: 0.8s; /* Firefox 5-15 */
    -o-animation-duration: 0.8s; /* Opera 12-14 */
    animation-duration: 0.8s;
  }
  
  
.mynav a {
    margin-right: 30px;
    
}

.mynav a:hover {
    border-bottom: 3px solid rgb(242, 180, 65);
    color: rgb(242, 180, 65) !important;
}

.active a {
    border-bottom: 3px solid rgb(242, 180, 65);
    color: rgb(242, 180, 65) !important;
}


.navbar.scrolled {
    /* padding-right: 50px;
    padding-left: 50px; */
    height: 75px;  
}
.bg-light {
    transition:750ms ease-in;
    background-color: transparent !important;
}
.bg-light.scrolled {
    background-color: #ffffff !important;
    }

.hero-section {
    background-color: #ffffff;
    max-width: 100%;
    min-height: 300px;
    transition: all 0.5s ease;
    
}

.sub-header {
    padding-top: 10px;
    letter-spacing: 3px;
    color: rgb(242, 180, 65); 

}

.container-section {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    
}

.container-section h1 {
    color: rgb(46, 50, 64);
    font-weight: bold;
}


.summary {
    min-height: 400px; /* set default height */
    transition: all 0.5s ease; /* optional css transition effect */
    color: rgb(46, 50, 64);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    margin: 0 auto;
    /* display: flex;
    position: relative; */
}


.container-fluid {
    /* background-image: url(../images/design-portfolio1.png); */
    background-position: top left;
    background-size: cover;
    background-color: rgb(46, 50, 64);
    min-height: 600px;

    }

 #experience {
        padding-top:100px;
        width: 85%;
        margin: 0 auto;
        color: rgb(242, 180, 65);    
    }

.experience-1 {
        line-height: 50%;

    }
    
#first {
    margin-bottom: 50px;
}

#second {
    margin-bottom: 50px;
}

#third {
    margin-bottom: 50px;
}


.container-fluid1 {
    background-color: rgb(242, 180, 65);
    min-height: 600px;
    
    
    
    }

 #education {
    padding-top:100px;
    width: 85%;
    margin: 0 auto;
    color: rgb(46, 50, 64);
        
    }

.education-1 {
    line-height: 50%;
    }
    
#first {
    margin-bottom: 50px;
}

#second {
    margin-bottom: 50px;
}

#third {
    margin-bottom: 50px;
}

.container-fluid3 {
    width:100%;
    
    }

    .home-tron-image {
        background-image: url(../images/me-full.jpg);
        background-size: cover;
        margin-bottom: 0px;
        border-radius: 0px;
        background-position: bottom right;
        height: 800px;
        

      }

      .header-img {
          padding-top: 50px;
      }

      #resumeBtn {
        background-color: #ffffff;
      }

      #resumeBtn:hover,
      #resumeBtn:active,
      #resumeBtn:focus,
      #resumeBtn.active {
        background: rgb(46, 50, 64);
        color: #E7E7E7;
        border-color: rgb(46, 50, 64);
        transform: translateY(-7px);
        
        
      }

      .btn-outline-light {
        color: #ffffff;
        background-color: rgb(46, 50, 64);
        border-color:#ffffff;
        font-weight: bold;
        font-size: medium;
        letter-spacing: 0.05em;
        margin-top: 50px;
      }
      
      .btn-outline-light {
        color: #ffffff;
        background-color: rgb(46, 50, 64);
        border-color: #ffffff;
        font-weight: bold;
        border-radius: 2;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
      }
      
      .btn-outline-light:hover,
      .btn-outline-light:active,
      .btn-outline-light:focus,
      .btn-outline-light.active {
        background: #ffffff;
        color: rgb(46, 50, 64);
        border-color: rgb(151, 151, 151);
        transform: translateY(-7px);
  
      }

      
      .btn-outline {
        color: rgb(46, 50, 64);
        background-color: #E7E7E7;
        border-color: rgb(46, 50, 64);
        font-weight: bold;
        border-radius: 2;
        font-size: medium;
        letter-spacing: 0.05em;
        margin-top: 50px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;

      }
      
      .btn-outline:hover,
      .btn-outline:active,
      .btn-outline:focus,
      .btn-outline.active {
        background: rgb(46, 50, 64);
        color: #E7E7E7;
        border-color: rgb(46, 50, 64);
        transform: translateY(-7px);
        
        
      }

      .btn-outline-yellow {
        color: rgb(46, 50, 64);
        background-color: rgb(242, 180, 65);
        border-color:rgb(46, 50, 64);
        font-weight: bold;
        font-size: medium;
        letter-spacing: 0.05em;
        margin-top: 50px;
        
        
      }
      
      .btn-outline-yellow {
        color: rgb(46, 50, 64);
        background-color: rgb(242, 180, 65);
        border-color: rgb(46, 50, 64);
        font-weight: bold;
        border-radius: 2;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
      }
      
      .btn-outline-yellow:hover,
      .btn-outline-yellow:active,
      .btn-outlineyellow:focus,
      .btn-outline-yellow.active {
        background: rgb(46, 50, 64);
        color: #E7E7E7;
        border-color: rgb(46, 50, 64);
        transform: translateY(-7px);

        
      }






.projects-bar {
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.projects-bar:hover {
  color: rgb(242, 180, 65);
  opacity: 0.7;
  text-decoration: none;
  
}


.project-header {
    /* margin: 0!important;
    height: 500px; */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px!important;

    
}
#project-img-mobile {
  width: 100%;
  /* max-width: 350px; */
  height: auto;
  
}


.first-project {
    background-color: rgb(46, 50, 64);
    color: white;
    
}

.second-project {
    background-color: #E7E7E7;
    color: rgb(46, 50, 64);
}

.third-project {
   background-color: rgb(242, 180, 65);
   color: white;
}

.fourth-project {
    background-color: #E7E7E7;
    color: rgb(46, 50, 64);
}




footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: rgb(46, 50, 64);
    text-align: left;
    display: flex;
    position: relative;
    min-height: 400px; /* set default height */
    transition: all 0.5s ease; /* optional css transition effect */
    margin-bottom: 25px;
  }


  .job-title {
      color: rgb(242, 180, 65);
  }


  #universal-footer {
    padding-top:50px;
    width: 85%;
    margin: 0 auto;

    
}

a {
    padding-top: 100px;
    text-decoration: none;
    color: rgb(46, 50, 64);
}

.email {
    padding-top: 100px;
}



.email:hover {
    color: rgb(242, 180, 65);
    opacity: 0.7;
    text-decoration: none;
    
  }

.fab {
    padding-right: 50px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border-color: rgb(46, 50, 64);
 
    
  }


  .fab:hover {
    color: rgb(242, 180, 65);
    opacity: 0.7;
    text-decoration: none;
  }

.fab fa-linkedin-in {

    color:rgb(46, 50, 64);

}

.fab fa-github {
    color:rgb(46, 50, 64);
}


.fab fa-dribbble {
    color:rgb(46, 50, 64);
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

/* Portfolio Style */

.portfolio-tron-image {
  background-image: url(../images/Travelapp-header-04.png);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
  height: 800px;
  background-color: white;

}

.portfolioArtpass-tron-image {
  background-image: url(../images/artpassHeader.png);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
  height: 800px;
  background-color: white;

}

.portfolioHFP-tron-image {
  background-image: url(../images/HopeForPawsheader.png);
  background-size: cover;
  margin-bottom: 0px;
  border-radius: 0px;
  height: 800px;
  background-color: white;

}

.project-title {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

#project-overview-container {
margin-top: 50px;
margin-bottom: 100px;
  
}

.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;  
  margin-left: -50vw;
  text-align: center;
  padding: 25px;
}



.full-width-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.gif-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


#project-section {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top:25px;
  margin-bottom:25px;

}


.design-process-header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 140px;
  padding-bottom: 20px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  color: rgba(51, 51, 51, 0.3);
  font-size: 54px;
  font-weight: 600;
  text-align: center;
  /* letter-spacing: 10px; */
}

a {
  color: none!important;
}



/* .pdfproject {
  border:none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 800px;

}

.iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
} */


.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.wrapper {
  background-color: #fff;
  border-radius: 1rem;
  margin: 0 auto;
  max-width: 1020px;
  padding: 2rem;
  width: 100%;
}



